<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeStartingContentEJS %></p>

<% for (let i = 0; i < postsEJS.length; i++) { %>
  <h1><%= postsEJS[i].title %></h1>
  <p>
    <%= postsEJS[i].content.slice(0,100) + "... " %>
    <a href="<%= "/posts/" + postsEJS[i].title.replace(" ","-").toLowerCase()%>">Read More</a>
  </p>
<% } %>


<%- include("partials/footer") -%>
